---
import '../styles/global.css';
import Canvas from '../components/Canvas/Canvas.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Brian Paul Salinas - Developer</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Brian Paul Salinas - Front end developer. Portfolio created with Astro and 3D models applying crean code, SEO good practices and Three.js library." />
		<meta name="keywords" content="Brian Paul Salinas, developer, portfolio, Astro, 3D models, Three.js, SEO, good practices" />
		<meta name="author" content="Brian Paul Salinas" />
		<meta property="og:title" content="Brian Paul Salinas - Developer" />
		<meta property="og:url" content="https://brianpauldev.com" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Brian Paul Salinas - Front end developer. Portfolio created with Astro and 3D models applying crean code, SEO good practices and Three.js library." />
		<meta property="og:image" content="https://brianpauldev.com/og-image.jpg" />

		<meta name="linkedin:card" content="summary_large_image" />
		<meta name="linkedin:site" content="https://www.linkedin.com/in/brian-pauldev/" />
		<meta name="linkedin:title" content="Brian Paul Salinas - Developer" />
		<meta name="linkedin:description" content="Brian Paul Salinas - Front end developer. Portfolio created with Astro and 3D models applying crean code, SEO good practices and Three.js library." />
		<meta name="linkedin:image" content="https://brianpauldev.com/og-image.jpg" />
	
	</head>
	<body>
		<Canvas />
		<main class="content">
			<slot />
		</main>
	</body>
</html>

<style>
	@reference '../styles/global.css';

	*{
		margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
	body {
		@apply grid place-content-center p-20 relative bg-[#0a0a0a] min-h-dvh md:max-w-screen-lg mx-auto;
		background: #0a0a0a;
		color: white;
		overflow-x: hidden;
		position: relative;
		z-index: 1;
	}

	body::before {
  		content: '';
  		position: fixed;
  		top: -10rem;
  		left: -10rem;
  		width: calc(100% + 30rem);
 		height: calc(100% + 30rem);
 	 	opacity: 0.070;
  		pointer-events: none;
 		z-index: 9999;
  		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
  		animation: noise 0.2s steps(10) infinite;
	}

	@keyframes noise {
  0% { transform: translate3d(0, 9rem, 0); }
  10% { transform: translate3d(-1rem, -4rem, 0); }
  20% { transform: translate3d(-8rem, 2rem, 0); }
  30% { transform: translate3d(9rem, -9rem, 0); }
  40% { transform: translate3d(-2rem, 7rem, 0); }
  50% { transform: translate3d(-6rem, -3rem, 0); }
  60% { transform: translate3d(4rem, 1rem, 0); }
  70% { transform: translate3d(-9rem, 6rem, 0); }
  80% { transform: translate3d(3rem, -7rem, 0); }
  90% { transform: translate3d(7rem, -2rem, 0); }
  100% { transform: translate3d(-3rem, 5rem, 0); }
}
</style>
